/* CartPage.css */
.cart-page {
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    background-color:#f2fcf4;
    padding-bottom: 90px;
}

.cart-page h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.empty-cart {
    text-align: center;
    margin-top: 50px;
}

.empty-cart a {
    color: #007bff;
    text-decoration: none;
}

.empty-cart a:hover {
    text-decoration: underline;
}

.cart-items {
    display: flex;
    flex-direction: column;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #fff;
    
}

.cart-item-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 20px;
}

.cart-item-details {
    flex: 1;
}

.cart-item-title {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.cart-item-quantity,
.cart-item-price,
.cart-item-discount,
.cart-item-total {
    margin: 5px 0;
}

.payment-details {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #b8fabf;
}

.payment-details h3 {
    margin-top: 0;
}

.payment-detail {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.payment-detail span {
    font-size: 16px;
}

.payment-detail.total {
    font-weight: bold;
}

.loading-spinner,
.error-message {
    text-align: center;
    margin-top: 50px;
    font-size: 18px;
}
/* CartPage.css */
.cart-item-quantity {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.quantity-button {
    background-color: #e65252;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 5px;
}

.quantity-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.quantity-value {
    font-size: 16px;
    margin: 0 10px;
}
