.success-success{
    background-color:rgba(242, 252, 244, 1);
    padding-bottom: 90px;
}
.sus{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 120px;
    justify-content: space-evenly;
}
.sus-head{
    display: flex;
    justify-content: center;
    text-align: center;
}
h1{
    color: green;
}
@media (max-width: 768px) {
  .sus {
    flex-direction: column;
  }

  .sus > div {
    flex: 1 1 100%;
  }
}

@media (max-width: 480px) {
  .sus-head h1 {
    font-size: 24px;
  }

  .sus-head p {
    font-size: 16px;
  }

  .sus > div {
    padding: 10px;
  }
}