.success-success{
    background-color:rgba(242, 252, 244, 1);
    padding-bottom: 90px;
}
.sus{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 120px;
    justify-content: space-evenly;
}
.sus-head{
    display: flex;
    justify-content: center;
    text-align: center;
}
h1{
    color: green;
}