.success-success{
    background-color:rgba(242, 252, 244, 1);
    padding-bottom: 90px;
}
.sus{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 120px;
    justify-content: space-evenly;
}
.sus-head{
    display: flex;
    justify-content: center;
    text-align: center;
}
h1{
    color: green;
}
@media (max-width: 768px) {
    .sus {
      flex-direction: column;
    }
  
    .sus > div {
      flex: 1 1 100%;
    }
  
    .sus-head h1 {
      font-size: 1.5em; /* Adjust font size for tablets */
    }
  
    .sus-head p {
      font-size: 0.9em; /* Adjust font size for tablets */
    }
  }
  
  @media (max-width: 480px) {
    .sus-head h1 {
      font-size: 1.2em; /* Adjust font size for mobile devices */
    }
  
    .sus-head p {
      font-size: 0.8em; /* Adjust font size for mobile devices */
    }
  
    .sus > div {
      padding: 10px;
    }
  
    .sus h1 {
      font-size: 1.5em; /* Adjust section headings for mobile devices */
    }
  
    .sus p {
      font-size: 10px; /* Adjust paragraph text for mobile devices */
    }
  }